<!DOCTYPE html>
<html ng-app="users">
<head>
    <meta charset="UTF-8">
    <title>Buzz Order</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/angular/angular.min.js" />
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
<div class="mainContaner" ng-controller="UserController as userController">
    <table id="userTable" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userController.users">
                <td>
                    {{user._id}}
                </td>
                <td>
                    {{user.username}}
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="userController.deleteUser(user)">Delete</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" id="newUserInput" ng-model="userController.user.username"></td>
                <td><button class="btn" id="addUserButton" ng-click="userController.addNewUser(userController.user)">Add</button></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>