.mainContaner{
    width: 50%;
    height: 748px;
    /*background: url("../images/some-image.jpg") no-repeat;*/
    margin-left:25%
}

.tableRow{
    border: 1px solid darkred;
}

.tableContainer{
    margin-left: 10%;
}

.imageContainer{
    width: 30%;
    height: 80%;
    margin-left: 40%;
}